$bg: #2E2920;
$fg: #FFFFDF;
$fg_dark: #5C5240;

$bg_accent: color($bg lightness(-5%));

$acc1: #FFF5BF; // sloth light orange
$acc2: color($acc1 lightness(-10%)); // sloth dark orange
$blue: color($acc1 lightness(-5%));;
